/* :root table {
    border-collapse: separate;
    border-spacing: 0;
  } */
  /* table tr:first-child td {
    font-weight: bold;
} */
  /* th:first-of-type {
    border-top-left-radius: 8px;
  }
  th:last-of-type {
    border-top-right-radius: 8px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 8px;
  } */

/* 짝수 번째 행에 배경색 지정 */
table th {
    background-color: #333; /* 배경색 */
    color: #fff; /* 텍스트 색상 */
    font-weight: bold; /* 텍스트 굵기 */
    padding: 10px; /* 셀 내부 여백 */
    text-align: center; /* 가운데 정렬 */
}
  :root :is(td, th) {
    border-width: 0 var(--table-border-width) var(--table-border-width) 0;
  }