table {
	border-collapse: collapse;
	border-spacing: 0;
	width: auto;
	/* border-top: 2.27px solid black;
	border-bottom: 2.27px solid black; */
	overflow-x: auto;	
	/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
   
}
th{
    border: 0 none;
	line-height: 1.1;
    padding-top : 10px !important;
    padding-bottom : 10px !important;

}

td {
	border: 0 none;
	line-height: 1.1;
    padding-left: 10px !important;
    padding-right: 50px !important;
    padding-top : 10px !important;
    padding-bottom : 10px !important;

}

thead th {
    font-weight:400  !important;
    background-color:  #f0f6fd  !important;
    
}

table tr:nth-child(even) {
      background-color: #f0f6fd  ;
}
